<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Home Page</h1>
    <h3><%= ["hello", "hii","namaste"][2] %></h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam adipisci blanditiis optio quo, sunt voluptatibus sint est quae voluptates corporis accusamus quidem, voluptas totam ea quisquam aliquid nostrum odio dolores! Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus similique incidunt accusantium quasi accusamus, atque illum ipsa nobis. Aut commodi cumque, corporis quod odit unde vitae? Laudantium, consectetur pariatur? Doloremque.</p>
    <button>click me!</button>
</body>
</html>